:markdown

  # Infowindow (info bubble)
  
  http://www.hostelbars.com/map_test_v3_3.html
  http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/examples/example.html
  
  
  # Links - Map Icons
  
  http://techwiki.openstructs.org/index.php/Open_Source_Icons
  http://mapicons.nicolasmollet.com/category/markers/?style=white
  http://www.arrlee.eu/
  [Builder for Custom Markers](http://www.powerhut.co.uk/googlemaps/custom_markers.php)
  
  # Links - Others
  
  [Nice black map](http://storiesunbound.com/)
  http://googlemapsmania.blogspot.com/
