:markdown
  HTML
  ----
  
  [Small rotating globe](http://www.revolvermaps.com/?target=setup)
  [rediscovering-the-button-element](http://particletree.com/features/rediscovering-the-button-element/)
  
  Ajax and unobtrusive javascript
  -------------------------------
  
  http://net.tutsplus.com/tutorials/javascript-ajax/using-unobtrusive-javascript-and-ajax-with-rails-3/
  http://trevorturk.com/2010/08/24/easy-ajax-forms-with-rails-3-and-jquery/
  http://asciicasts.com/episodes/205-unobtrusive-javascript
  http://asciicasts.com/episodes/136-jquery
  
  CSS
  ---
  
  [Flag Countries Icons](http://code.google.com/p/csscountrycodes/)