:markdown
  GUUPA
  -----

  - Got an Idea?
  - Hai un'Idea?
  -  アイデアがありますか？
  - Tiene una idea?

  Share your thoughts for a better world.

  Condividi le tue idee per un mondo migliore.

  This is hard coded page guupa.html.haml and can contain everything...

  [START: WORLD](/World)

-# %h2 Continents
-# %ol
-#   - items.each do |item|
-#     %li #{link_to item.translated, url_for(:area => capitalize_url(item.google_name), :action => :home)}
-# %h2 Popular locations
-# %ul
-#   %li= link_to_unless_current "Firenze (Florence)", root_path(:area => :florence)
-#   %li= link_to_unless_current "Scandicci", root_path(:area => :scandicci)
-#   %li= link_to_unless_current "Tuscany",   root_path(:area => :tuscany, :l => :en)
-#   %li= link_to_unless_current "Toscana",   root_path(:area => :tuscany, :l => :it)
-#   %li= link_to_unless_current "トスカーナ州", root_path(:area => :tuscany, :l => :ja)
-#   %li= link_to_unless_current "Italy (Toscana, トスカーナ州)", root_path(:area => :italy)
-#   %li= link_to_unless_current "Europe", root_path(:area => :europe)
-#   %li= link_to_unless_current "World", root_path(:area => :world)


-# %ol
-#   %li= link_to "North America", root_path(:area => :North_America)
-#   %li= link_to "South America", root_path(:area => :South_America)
-#   %li= link_to "Africa",        root_path(:area => :Africa)
-#   %li= link_to "Europe",        root_path(:area => :Europe)
-#   %li= link_to "Asia",          root_path(:area => :Asia)
-#   %li= link_to "Oceania",       root_path(:area => :Oceania)
-# 



