- style_step_1 = ""
- style_step_2 = ""
- if step == 1
  - style_step_2 = "color: #ccc"
- else
  - style_step_1 = "color: #ccc"

%h2{:style => "margin-bottom: -30px"} Submit a new Idea!
%table{:border => "0px", :style => "border-spacing: 0px"}
  %tr
    %td{:style => "width: 50%"}
      %h1{:style =>"margin-bottom: 0px"}
        %span{:style => style_step_1}
          Step 1: The Problem
    %td{:rowspan => 2}
      %h1
        &rarr;
    %td{:style => "width: 50%"}
      %h1{:style =>"margin-bottom: 0px"}
        %span{:style => style_step_2}
          Step 2: The Idea
  %tr
    %td{:style => style_step_1}
      Submit the Problem that your Idea is aiming to solve.
      This will help others to understand better your idea and propose their own.
      If your Idea is related to a Problem that someone alread submitted,
      please add your Idea from there.
    %td{:style => style_step_2}
      Explain to us your Idea in details. 
- if step == 1
  %h2 Let's start with the Problem
- else
  %h2 Let's work on the Idea for the Problem "#{the_problem.title}"

